{% extends "layout.njk" %}

{% block body %}
  {{ contents | safe}}

  {% for post in collections.posts %}
    <li>
      <a class="link" rel="prefetch" href="/{{post.path}}">{{ post.title }}</a>
    </li>
  {% endfor %}


{% endblock %}
