{% extends "layout.njk" %}

{% block body %}
    <div class="max-w-2xl mx-auto">
        <h2>{{ collections[currentCollection].metadata.name }}</h2>
        <p>{{ collections[currentCollection].metadata.description }}</p>

        {% for post in collections[currentCollection] %}
            <ol>
                <li>
                    <a class="link" rel="prefetch" href="/{{post.path}}">{{ post.title }}</a>
                </li>
            <ol>
        {% endfor %}

		{{ contents | safe}}
    </div>
{% endblock %}
