.theme-light {
  --color-primary: #242424;
  --color-secondary: #ffffff;
  --color-ancillary: #b5b5b5;
  fill: currentColor;
}
.theme-dark {
  --color-primary: rgb(227, 228, 233);
  --color-secondary: #1b1b1b;
  --color-ancillary: #AC9779;
  fill: currentColor;
}


@tailwind base;

@tailwind components;
@import "./components/link.css";
@import "./components/list.css";
@import "./components/button.css";

@tailwind utilities;

::selection {
    @apply bg-ancillary;
}
