/* js is disabled, we can only work with css */
@media (prefers-color-scheme: dark) {
    --color-primary: rgb(227, 228, 233);
    --color-secondary: #1b1b1b;
    --color-ancillary: #AC9779;
    fill: currentColor;
    .theme-light-hidden * {
        display: none;
    }
}
@media (prefers-color-scheme: light) {
    --color-primary: #242424;
    --color-secondary: #ffffff;
    --color-ancillary: #b5b5b5;
    fill: currentColor;
    .theme-dark-hidden * {
        display: none;
    }
}

/* use dark theme by default so eye's won't be burned by accident */
html[data-theme="dark"] {
    --color-primary: rgb(227, 228, 233);
    --color-secondary: #1b1b1b;
    --color-ancillary: #AC9779;
    fill: currentColor;
    .theme-light-hidden * {
        display: none;
    }
}
html[data-theme="light"] {
    --color-primary: #242424;
    --color-secondary: #ffffff;
    --color-ancillary: #b5b5b5;
    fill: currentColor;
    .theme-dark-hidden * {
        display: none;
    }
}

@tailwind base;

@tailwind components;
@import "./components/link.css";
@import "./components/list.css";
@import "./components/button.css";


::selection {
    @apply bg-ancillary;
}

/* default styles */
h1 {
    @apply text-4xl mb-10 mt-12 break-words;
    @screen md {
        @apply text-6xl; 
    }
}
h2 {
    @apply text-2xl  mb-8 mt-10;
    @screen md {
        @apply text-4xl;
    }
}
h3 {
    @apply text-xl mb-6 mt-8;
    @screen md {
        @apply text-2xl;
    }
}
h4 {
    @apply text-lg mb-4 mt-6;
    @screen md {
        @apply text-xl;
    }
}
h5 {
    @apply text-base mb-2 mt-4;
    @screen md {
        @apply text-lg;
    }
}
p {
    @apply mb-4 text-base;
}
iframe {
    @apply mb-4;
}
.imageblock {
    @apply mb-4;
    .title {
        @apply mt-1;
    }
} 
.map-responsive{
    @apply h-0 relative overflow-hidden mb-4;
    padding-bottom:56.25%;
    iframe{
        @apply w-full h-full absolute left-0 top-0;
    }
}
#commento {
    @apply mt-8;
}

@tailwind utilities;
